{% extends 'base.html' %}

{% block title %}Accounts | Change Password{% endblock title %}

{% block style %}
<style>
    .register-form > p > label{ 
        margin-bottom: 0.5rem;
    }
    .helptext{
        margin-top: 0.5rem;
    }
    .register-form > p{
        display: grid;
    }
    .auth-form > p:empty{
        margin: 0;
    }
</style>
{% endblock style %}

{% block body %}
<form action="" method="POST" class="auth-form form-group register-form">
    {% csrf_token %}
    <div class="form-heading">
        <div class="logo">{% include 'svgs/logo.svg' %}</div>
        <h1>Change Password</h1>
    </div>
    {{form.as_p}}
    <input class="btn btn-danger" type="submit" value="Change Password">
</form>
{% endblock body %}
