{% extends 'base.html' %}
{% block style %}
<style>
    p{
        padding-left: 1rem;
        color: black;
        font-weight: 500;
    }
    h1, h2, h3, h4, h5, h6{
        font-weight: 600;
    }
    table{
        margin-left: 1rem;
    }
    .fix-scroll{
        scroll-margin: calc(80px + 1rem) 0 0 0;
    }
    .all-inline *{
        display: inline;
    }
    .lsd{
        list-style: disc;
    }
    .table-of-contents-container  ol { counter-reset: item }
    .table-of-contents-container li{ display: block }
    .table-of-contents-container li:before { content: counters(item, ".") " "; counter-increment: item }
    table{
        margin-bottom: 1rem;
    }
    table, tr, th, td{
        border: 2px solid black;
    }
    th{
        text-align: center;
        width: 50%;
        font-weight: bold;
        background-color: var(--bs-dark);
        color: var(--bs-light);
    }
    th:
    th > h5{
        font-weight: inherit;
        margin-bottom: 0;
    }
    td, th{
        padding: .5rem;
    }
    .main-heading{
        text-align: center;
        background-color: var(--bs-dark);
        color: var(--bs-light);
        padding-block: 1rem;
        padding-inline: 1rem;
        border-radius: 8px;
    }
    .table-of-contents-container{
        background-color: var(--bs-dark);
        max-width: 264px;
        height: max-content;
        padding: 0.75rem;
        border-radius: 8px;
        color: white !important;
        line-height: 1.7;
        position: sticky;
        top: calc(80px + 1.5rem);
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .table-of-contents-container > h3{
        text-align: center;
    }
    .table-of-contents a{
        color: white !important;
    }
    .centered-box{
        border: 2px solid black;
        width: min-content;
        margin-right: auto;
        margin-left: auto;
        padding: 0.5rem;
    }
    .table-of-contents > li{
        margin-block: 0.25rem;
    }
    .outermost-article-container{
        display: flex;
    }
    main > article{
        margin-top: 2.5rem;
        margin-left: 2rem;
    }
    .image-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block: 1.5rem;
    }
    .image-container > img{
        max-width: 400px;
    }
    #container-95p{
        width: 95%;
        max-width: none;
    }
    .sub-toc-link{
        list-style: lower-alpha;
    }
    .fix-scroll{
        scroll-margin: calc(80px + 1rem) 0 0 0;
    }
    .note{
        color: var(--bs-gray);
        border-left: 1px solid black;
        border-rai: bor;
        border-radius: 0.25rem;
        padding: 0.5rem;
        background: #ccd2d7;
        margin-bottom: 1rem;
    }
    .note-about{
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 1.2rem;
    }
    .quote{
        display: inline-block;
    }
    .quote-close, .quote-open{
        display: inline-block;
        font-size: 1.5rem;
    }
    .quote-close{
        transform: rotateZ(180deg) translateY(22%);
    }
    .quote-text{
        margin-inline: 2px;
        color: #790917;
    }
    @media (min-width: 0) and (max-width: 991px){
        .outermost-article-container{
            flex-direction: column;
        }
        .image-container > img{
            max-width: 100%;
        }
        .table-of-contents-container{
            position: static;
            margin-top: 1rem;
            margin-bottom: 0rem;
            margin-right: auto;
            margin-left: 2rem;
        }
        main > article{
            margin-left: 0;
        }
    }
    @media (min-width: 0) and (max-width: 368px){
        .table-of-contents-container{
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>
{% endblock style %}
{% block body %}
{% load static %}
<div class="container" id="container-95p">
    <h1 class="main-heading">Tips To Sleep better at night</h1>
    <section class="outermost-article-container">
        <nav class="table-of-contents-container container">
            <h3>Contents</h3>
            <ol class="table-of-contents">
                <li><a href="#why">Why do we need good sleep?</a></li>
                <li><a href="#tips">10 best eating habits</a>
                    <ol class="sub-toc-link">
                        <li><a href="#sleep-schedule">Sleep schedule</a></li>
                        <li><a href="#physical-activities">Physical activities</a></li>
                        <li><a href="#optimal-bedroom">Optimal bedroom</a></li>
                        <li><a href="#caffeine">Control Caffeine</a></li>
                        <li><a href="#late-eating">Stop eating late</a></li>
                        <li><a href="#awake-on-bed">Don't stay awake on bed</a></li>
                        <li><a href="#diet">Adjust your diet</a></li>
                        <li><a href="#lights">Control lights</a></li>
                    </ol>
                </li>
                <li><a href="#conclusion">Conclusion</a></li>
            </ol>
        </nav>
        <main>
            <article>
                <section>
                    <p>Around 35% of adults in the US and 37% of adults in Asia reported sleeping less than 7 hours per night.</p>
                    <p>In this day and age, almost all of us are regularly sleep-deprived. A healthy adult requires 7-9 hours of sleep, but a majority of people only get 5-6 hours of sleep. It's really important that you get enough sleep for your age. See the Table below:</p>
                    <figure class="image-container">
                        <img src="/media/images/articles/2023/01/01/drink_water.webp" alt="Water in glass">
                        <figcaption>Drink water</figcaption>
                    </figure>
                </section>
                <section id="why" class="fix-scroll">
                    <h2>Why do we need good sleep?</h2>
                    <p>Good sleep boosts your physical and athletic performance by repairing damaged muscles, tissues, and blood vessels. With proper and good sleep you are more likely to be calm, satisfied, happy, and stress-free most of the time. Often people think that during sleep our brain is resting but it's not quite true when sleeping our brain prepares us for the next day for activities like creation, thinking, learning, remembering, etc. Thus, increasing our overall physical and mental health.</p>
                    <p>Lack of sleep can cause various issues like type 2 diabetes, obesity, cardiovascular diseases, and a lot more.</p>
                    <p>Having a good sleep won't only minimize the risks of certain diseases but also boosts your immunity which will protect you from other diseases that are not directly related to lack of sleep.</p>
                    <p>Sleep deprivation increases amygdala activity( Amygdala processes threatful stimuli and generally triggers emotions like fear and anger ), which results in less social interest because now your brain might interpret other people as a threat. Not having a good sleep also makes you more emotionally volatile, short-tempered, and irritable as well.</p>
                    <p>With only a few of the possible problems and benefits listed above let’s see how can you achieve good sleep at night.</p>
                </section>
                <section id="tips" class="fix-scroll">
                    <h2>Tips:</h2>
                    <section class="fix-scroll">
                        <ol>
                            <li id="sleep-schedule" class="fix-scroll">
                                <section>
                                    <h3>Follow a sleep schedule:</h3>
                                    <p>Following a sleep schedule means sleeping and waking up at the same time every day. By doing this your body will maintain the circadian rhythm also called the body's internal clock, which regulates the alertness and sleepiness of your brain. Following a sleep schedule will give you good quality and quantity of sleep.</p>
                                    <figure class="image-container">
                                        <img src="/media/images/articles/2023/01/01/drink_water.webp" alt="Water in glass">
                                        <figcaption>Drink water</figcaption>
                                    </figure>
                                </section>
                            </li>
                            <li id="physical-activities" class="fix-scroll">
                                <section>
                                    <h3>Do some physical activities:</h3>
                                    <p>Physical activities reduce sleep onset ( Sleep onset is the time duration taken to go from wakefulness to sleep). Physical activities also reduce daytime sleepiness. Don't exercise before bed because it will make your body very active, and increase your heart rate but to get good sleep you need to be relaxed.</p>
                                    <figure class="image-container">
                                        <img src="/media/images/articles/2023/01/01/fruits_vegetables.webp" alt="Fruits and Vegetables">
                                        <figcaption>Eat fruits and vegetables</figcaption>
                                    </figure>
                                </section>
                            </li>
                            <li id="optimal-bedroom" class="fix-scroll">
                                <section>
                                    <h3>Make your bedroom optimal for sleep:</h3>
                                    <p>Make sure your bedroom is dark and silent. It is much easier to fall asleep in a colder environment rather than in a hot and warm environment. Keep your bed clean and tidy, also if try to use a soft mattress, pillow, and blanket. By doing all of these changes in your bedroom either you will either increase your quantity of sleep or quality of sleep or both.</p>
                                    <figure class="image-container">
                                        <img src="/media/images/articles/2023/01/01/avoid_fat_and_sugar.webp" alt="Cheese in bowl">
                                        <figcaption>Substitute fat and sugar</figcaption>
                                    </figure>
                                </section>
                            </li>
                            <li id="caffeine" class="fix-scroll">
                                <section>
                                    <h3>Don’t consume caffeine the wrong way:</h3>
                                    <p>Caffeine has a half-life of 5 hours which means every five hours the amount of caffeine you have in your body will reduce to half, let's say you took 80mg of caffeine at 2 pm after 5 hours i.e 7 pm your body will still have 40mg of caffeine, and similarly at 12 am your body will still have 20mg of caffeine left in your body.</p>
                                    <p>And we all know having caffeine in your body when trying to sleep won't help, but the results will be quite opposite. So, do a little maths and decide for yourself at what time and how much caffeine are you consuming.</p>
                                    <figure class="image-container">
                                        <img src="/media/images/articles/2023/01/01/drink_milk.webp" alt="milk in glass near cookies.">
                                        <figcaption>Include milk</figcaption>
                                    </figure>
                                </section>
                            </li>
                            <li id="late-eating" class="fix-scroll">
                                <section>
                                    <h3>Stop eating 3-4 hours before sleep:</h3>
                                    <p>To fall asleep your body needs to be relaxed, but by eating before bed you disrupt your circadian rhythm. <br> When your body is expecting to be relaxed to make you fall asleep, by eating food you give it the task to digest it, and now your body is trying to digest it rather than relaxing and sleeping which in turn confuses your body’s internal clock.</p>
                                    <figure class="image-container">
                                        <img src="/media/images/articles/2023/01/01/avoid_fried_foods.webp" alt="Fried junk food.">
                                        <figcaption>Avoid fried food.</figcaption>
                                    </figure>
                                </section>
                            </li>
                            <li id="awake-on-bed" class="fix-scroll">
                                <section>
                                    <h3>Don't stay awake in bed:</h3>
                                    <p>So, if you can't fall asleep within 15-20 minutes after getting into bed you should get out of bed and read a book. Don't turn on any other light than a reading lamp, because other lights will trick your brain into that it's still day and it will become more difficult for you to get a good sleep. Only go to bed when you feel sleepy, not tired.</p>
                                    <figure class="image-container">
                                        <img src="/media/images/articles/2023/01/01/eat_salad.webp" alt="Salad in bowl.">
                                        <figcaption>Start consuming salad.</figcaption>
                                    </figure>
                                </section>
                            </li>
                            <li id="diet" class="fix-scroll">
                                <section>
                                    <h3>Adjust your diet:</h3>
                                    <p>Include items in your diet that contain Magnesium, Calcium, Potassium, and Vitamin B6 as these nutrients will promote melatonin production which maintains your circadian rhythm. Therefore giving you better sleep at night. Some examples of such food are bananas, cherries, almonds, etc.</p>
                                    <figure class="image-container">
                                        <img src="/media/images/articles/2023/01/01/do_not_starve.webp" alt="Empty plate on a table with a fork next to it.">
                                        <figcaption>Diet if you know how to.</figcaption>
                                    </figure>
                                </section>
                            </li>
                            <li id="lights" class="fix-scroll">
                                <section>
                                    <h3>Lights</h3>
                                    <h4>We all know that in a dark you will sleep better, but why? </h4>
                                    <p>Well, darkness produces melatonin in your brain which puts you in a state of quiet wakefulness, which in turn promotes better sleep. <br> In response to light, your brain doesn't produce melatonin, but in dark it does. So by using electronic devices at night you give a signal to your brain that it’s still day and your brain does not produce melatonin. Therefore it disturbs your circadian rhythm.</p>
                                    <figure class="image-container">
                                        <img src="/media/images/articles/2023/01/01/eat_egg.webp" alt="Eggs on table.">
                                        <figcaption>Eat eggs</figcaption>
                                    </figure>
                                </section>
                            </li>
                        </ol>
                    </section>
                </section>
                <section id="conclusion" class="fix-scroll">
                    <h2>Conclusion</h2>
                    <p>Now you know the effective disadvantages of sleep deprivation from obesity to type 2 diabetes and also the advantages like good physical and mental health and good relationships.</p>
                    <p>You also get to know 8 very effective to sleep better at night, Now start implementing these to get a better quality and adequate quantity of sleep, hence achieving an overall better quality of life.</p>
                </section>
            </article>
        </main>
    </section>
</div>
{% for comment in .comments.all %}
    {{comment}}
{% endfor %}
{% endblock body %}
