{% extends 'base.html' %}
{% block style %}
<style>
    p{
        padding-left: 1rem;
        color: black;
        font-weight: 500;
    }
    h1, h2, h3, h4, h5, h6{
        font-weight: 600;
    }
    table{
        margin-left: 1rem;
    }
    .fix-scroll{
        scroll-margin: calc(80px + 1rem) 0 0 0;
    }
    .all-inline *{
        display: inline;
    }
    .lsd{
        list-style: disc;
    }
    .table-of-contents-container  ol { counter-reset: item }
    .table-of-contents-container li{ display: block }
    .table-of-contents-container li:before { content: counters(item, ".") " "; counter-increment: item }
    table{
        margin-bottom: 1rem;
    }
    table, tr, th, td{
        border: 2px solid black;
    }
    th{
        text-align: center;
        width: 50%;
        font-weight: bold;
        background-color: var(--bs-dark);
        color: var(--bs-light);
    }
    th:
    th > h5{
        font-weight: inherit;
        margin-bottom: 0;
    }
    td, th{
        padding: .5rem;
    }
    .main-heading{
        text-align: center;
        background-color: var(--bs-dark);
        color: var(--bs-light);
        padding-block: 1rem;
        padding-inline: 1rem;
        border-radius: 8px;
    }
    .table-of-contents-container{
        background-color: var(--bs-dark);
        max-width: 264px;
        height: max-content;
        padding: 0.75rem;
        border-radius: 8px;
        color: white !important;
        line-height: 1.7;
        position: sticky;
        top: calc(80px + 1.5rem);
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .table-of-contents-container > h3{
        text-align: center;
    }
    .table-of-contents a{
        color: white !important;
    }
    .centered-box{
        border: 2px solid black;
        width: min-content;
        margin-right: auto;
        margin-left: auto;
        padding: 0.5rem;
    }
    .table-of-contents > li{
        margin-block: 0.25rem;
    }
    .outermost-article-container{
        display: flex;
    }
    main > article{
        margin-top: 2.5rem;
        margin-left: 2rem;
    }
    .image-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block: 1.5rem;
    }
    .image-container > img{
        max-width: 400px;
    }
    #container-95p{
        width: 95%;
        max-width: none;
    }
    .sub-toc-link{
        list-style: lower-alpha;
    }
    .fix-scroll{
        scroll-margin: calc(80px + 1rem) 0 0 0;
    }
    .note{
        color: var(--bs-gray);
        border-left: 1px solid black;
        border-rai: bor;
        border-radius: 0.25rem;
        padding: 0.5rem;
        background: #ccd2d7;
        margin-bottom: 1rem;
    }
    .note-about{
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 1.2rem;
    }
    .quote{
        display: inline-block;
    }
    .quote-close, .quote-open{
        display: inline-block;
        font-size: 1.5rem;
    }
    .quote-close{
        transform: rotateZ(180deg) translateY(22%);
    }
    .quote-text{
        margin-inline: 2px;
        color: #790917;
    }
    @media (min-width: 0) and (max-width: 991px){
        .outermost-article-container{
            flex-direction: column;
        }
        .image-container > img{
            max-width: 100%;
        }
        .table-of-contents-container{
            position: static;
            margin-top: 1rem;
            margin-bottom: 0rem;
            margin-right: auto;
            margin-left: 2rem;
        }
        main > article{
            margin-left: 0;
        }
    }
    @media (min-width: 0) and (max-width: 368px){
        .table-of-contents-container{
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>
{% endblock style %}
{% block body %}
{% load static %}
<div class="container" id="container-95p">
    <h1 class="main-heading">7 Best Ways to Maintain Consistency in Studies</h1>
    <section class="outermost-article-container">
        <nav class="table-of-contents-container container">
            <h3>Contents</h3>
            <ol class="table-of-contents">
                <li><a href="#what-is-consistency">What is consistency</a></li>
                <li><a href="#benefits">Benefits</a>
                    <ol class="sub-toc-link">
                        <li><a href="#improvement">Improvement</a></li>
                        <li><a href="#confidence">Confidence</a></li>
                        <li><a href="#motivation">Motivation</a></li>
                        <li><a href="#learning">Learning</a></li>
                        <li><a href="#fast-achievement">Fast achievement</a></li>
                    </ol>
                </li>
                <li><a href="#ways">7 Ways</a>
                    <ol class="sub-toc-link">
                        <li><a href="#mindset">Change your mindset</a></li>
                        <li><a href="#goals">Set goals</a></li>
                        <li><a href="#breaks">Take breaks</a></li>
                        <li><a href="#to-do">Make to-to lists</a></li>
                        <li><a href="#timetable">Prepare timetable</a></li>
                        <li><a href="#distractions">Remove distractions</a></li>
                        <li><a href="#sleep">Take proper sleep</a></li>
                    </ol>
                </li>
                <li><a href="#conclusion">Conclusion</a></li>
            </ol>
        </nav>
        <main>
            <article>
                <section>
                    <p>Consistency matters everywhere whatever work we are doing. If we are not consistent may be we are not able to get the results we are expecting.</p>
                    <p>If consistency is related to study then it becomes the paramount task. But what is consistency, benefits of consistency and the ways to maintain consistency in studies or how to be disciplined and consistent in studies, you will all know in this article.</p>
                </section>
                <section id="what-is-consistency" class="fix-scroll">
                    <h2>What is consistency?</h2>
                    <p> Consistency means to be consistent in the work we are doing. The meaning of consistent is to do a work with focus and concentration on a regular basis. Being regular, focused and consistent towards a work is called consistency. Consistency is the key to success. You must be consistent for your goals and aims.</p>
                    <div class="quote all-inline note">
                    <p class="text-primary"><b class="text-dark quote-open">“</b>
                        <span class="quote-text">Consistency is the biggest reason for Accomplishment and Success</span>
                    <b class="text-dark quote-close">“</b></p>
                        <span class="text-dark">- Byron Pulsifier.</span>
                    </div>
                    <p>Now if you know what is consistency, let’s know the benefits of being consistent.</p>
                    <figure class="image-container">
                        <img src="/media/images/articles/2022/12/28/studying.webp" alt="Boy consistently studying">
                        <figcaption>Boy consistently studying</figcaption>
                    </figure>
                </section>
                <section id="benefits" class="fix-scroll">
                    <h2>Benefits of consistency</h2>
                    <p>There are infinite number of benefits of being consistent. If you will be consistent in your studies and work, you will get outstanding results. However, if you are inconsistent in your studies and work you will get many problems.</p>
                    <p>Let’s see the benefits of consistency:</p>
                    <ol>
                        <li id="improvement" class="fix-scroll">
                            <section>
                                <h3>Helps to get better each day:</h3>
                                <p>Consistency makes us better each day. If we are consistent and focused towards our goals, we will learn and fail each day and this will make us better for the next day.</p>
                            </section>
                        </li>
                        <li id="confidence" class="fix-scroll">
                            <section>
                                <h3>Increases confidence:</h3>
                                <p>Automatically, if we are doing a work consistently then it increases our confidence and confidence makes us stronger towards our goals. Confidence makes us to do more and achieve more than before.</p>
                            </section>
                        </li>
                        <li id="motivation" class="fix-scroll">
                            <section>
                                <h3>Gives you motivation</h3>
                                <p>If you will follow consistency in your work then it will give you inner motivation to do your work and achieve your goals faster. You will automatically motivate yourself to do more work and set new goals and achieve them at time.</p>
                            </section>
                        </li>
                        <li id="learning" class="fix-scroll">
                            <section>
                                <h3>Opportunity to learn:</h3>
                                <p>Consistency provides you the opportunity to learn each day and it is obvious that if you learn each day, then you will become stronger in your work. The more you will fail, the more you will learn.</p>
                            </section>
                        </li>
                        <li id="fast-achievement" class="fix-scroll">
                            <section>
                                <h3>Fast achievement:</h3>
                                <p>Consistency leads to fast achievement of your goals. Daily set goals of your day and try to be consistent in your work if you want fast achievement. If you achieve something earlier than it will build your feeling stronger to achieve more and more.</p>
                            </section>
                        </li>
                        <figure class="image-container">
                            <img src="/media/images/articles/2022/12/28/books.webp" alt="Books and pen on table">
                            <figcaption>Books and pen on table</figcaption>
                        </figure>
                    </ol>
                </section>
                <section id="ways" class="fix-scroll">
                    <h2>7 Best ways to maintain consistency in studies</h2>
                    <p>Now if you know what are the benefits of being consistent, let’s know the 10 best ways to maintain consistency in studies.</p>
                    <ol>
                        <li id="mindset" class="fix-scroll">
                            <section>
                                <h3>Change your mindset:</h3>
                                <p>If you want to be consistent in your studies then change your mindset like I will start my studies 1 month or 1 week before my exams. Make the mindset like I will study each and every day so that I will not feel any burden on me at the time of exams.</p>
                            </section>
                        </li>
                        <li id="goals" class="fix-scroll">
                            <section>
                                <h3>Set goals:</h3>
                                <p>Set goals for your studies so that you will be focused. Set the goals like I will complete this chapter by next week or I will practice questions from this topic for 2 days etc. like these. If you will set goals then there will be low chance of losing your track.</p>
                            </section>
                        </li>
                        <li id="breaks" class="fix-scroll">
                            <section>
                                <h3>Take breaks:</h3>
                                <p>Don’t forget to take breaks while studying. If you will not take breaks and will continuously study for hours, you will feel very frustrated and may be stop you studying. So to avoid this situation take breaks on a regular time interval like after studying for 30-45 minutes reward yourself with a break.</p>
                            </section>
                        </li>
                        <li id="to-do" class="fix-scroll">
                            <section>
                                <h3>Make to-do lists:</h3>
                                <p>This thing you might have listened infinite times that the first thing you should do is to make to-do-lists for your complete day and it is true. Make your to-do-lists of the topics or chapters you are going to study today. So, this will keep you remain consistent and focused towards your work.</p>
                            </section>
                        </li>
                        <li id="timetable" class="fix-scroll">
                            <section>
                                <h3>Prepare timetable:</h3>
                                <p>Prepare your timetable and paste it on your study space or cupboard where you can see your timetable regularly. Timetable will remind you time to time about your planned day, so you will be consistent in your studies. Just promise yourself that I will follow my day according to the planned timetable.</p>
                            </section>
                        </li>
                        <li id="distractions" class="fix-scroll">
                            <section>
                                <h3>Remove distractions:</h3>
                                <p>Don’t get distracted when you are studying. If you are studying online then there are very high chances of distractions like YouTube, chatting with friends, notifications from different social media platforms etc. If you get distracted from your tasks, gradually you will become inconsistent. Turn off your notification button while studying.</p>
                            </section>
                        </li>
                        <li id="sleep" class="fix-scroll">
                            <section>
                                <h3>Take proper sleep:</h3>
                                <p>Never sacrifice and compromise your sleep for studying more. If you will not take adequate amount of sleep then the next day you will feel sleepy. By this you will waste your 1 day. Study in a limit but each day. Sleep for at least 6-8 hours each day.</p>
                            </section>
                        </li>
                        <figure class="image-container">
                            <img src="/media/images/articles/2022/12/28/clock.webp" alt="Book, clock and magnifying glass on table">
                            <figcaption>Book, clock and magnifying glass on table</figcaption>
                        </figure>
                    </ol>
                </section>
                <section id="conclusion" class="fix-scroll">
                    <h2>Conclusion</h2>
                    <p>In this article you have read that what is consistency, benefits of being consistent and the 7 best ways to maintain consistency in studies or how to be disciplined and consistent in studies or how to study consistently every day. If you will consistent, you can be successful at any work in a very short time. Promise to yourself that I will be consistent in my each work to get best results.</p>
                </section>
            </article>
        </main>
    </section>
</div>
{% for comment in .comments.all %}
    {{comment}}
{% endfor %}
{% endblock body %}
