{% extends 'base.html' %}

{% block title %} Lifology | Contact Us{% endblock title %}
{% block style %}
<style>
    .form-group{
        margin-block: 0.25rem;
    }
    .social-and-contacts{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-form{
        background-color: var(--bs-dark);
        color: var(--bs-light);
        border-radius: 0.5rem;
    }
    .contact-form-control{
        background-color: inherit;
        color: inherit;
        border: 0;
    }
    .social{
        width: 45%;
    }
    .form-group{
        margin-block: 1rem;
    }
    .mail-us{
        padding-left: 2rem;
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }
    .mail-us > a{
        color: #00aa95;
        text-decoration: none;
    }
    .twitter{
        color: #1d9bf0 !important;
    }
    .twitter > a{
        color: inherit !important;
    }
    .instagram{
		background: linear-gradient(0.120turn, #ef6f00, #f50800, #7d3aaa);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
        text-decoration: none;
	}
    .social-links > .instagram + svg{
        background-color: linear-gradient(0.120turn, #ef6f00, #f50800, #7d3aaa);
    }
    .form-half{
        display: flex;
        justify-content: space-evenly;
    }
    .form-half label{
        margin-bottom: 8px;
    }
    .half-1, .half-2{
        width: 45%;
    }
</style>
{% endblock style %}
{% block head %}
<link rel="canonical" href="https://lifology.site/contact_us" />
{% endblock head %}
{% block body %}
<div class="container">
    <h1 class="h-underline">Contact Us</h1>
    <main class="social-and-contacts">
        <div class="contact-form">
            <form class="form-control contact-form-control" action="" method="POST">
                {% csrf_token %}
				<h3 style="margin-block: 1rem;">Contact Form</h3>
                <div class="form-half">
                    <div class="half-1">
                    <div class="form-group">
                        <label for="message">Message:</label>
                        {{form.message}}
                    </div>
                    </div>
                    <div class="half-2">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        {{form.name}}
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        {{form.email}}
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject:</label>
                        {{form.subject}}
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-success" style="display: block; margin-left:auto;">
                    </div>
                    </div>
                </div>
            </form>
        </div>
        <!--
        To be Uncommented 
        <div class="social">
            <div class="mail-us">
                <span>{% include 'svgs/mail.svg' %}</span>
                <a href="mailto: lifology.site@gmail.com">lifology.site@gmail.com</a>
            </div>
        -->
            <!--
            <ul class="social-links-container lsn">
                <li class="social-links">{% include 'svgs/instagram.svg' %}<a class="instagram" href="http://www.instagram.com/lifology.site/" target="_blank">Lifology</a></li>
            -->
            <!--
            To be Uncommented 
                <div class="mail-us">
                    <span>{% include 'svgs/instagram.svg' %}</span>
                    <a class="instagram" href="http://www.instagram.com/lifology.site/" target="_blank">Lifology</a>
                </div>
                <div class="mail-us">
                    <span>{% include 'svgs/twitter.svg' %}</span>
					<a class="twitter-timeline-lifology twitter"
                        href="https://twitter.com/lifology_site"
                        target="_blank"
                        data-tweet-limit="1">
					@lifology_site</a>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            -->
                <!--
                <li class="social-links">Follow us on {% include 'svgs/twitter.svg' %}
					<a class="twitter-timeline-lifology"
                        href="https://twitter.com/lifology_site"
                        target="_blank"
                        data-tweet-limit="1">
					Tweets by @lifology_site</a>
				</li>
            </ul>
            -->
        </div>
    </main>
</div>
{% endblock body %}
