{% extends 'base.html' %}

{% block title %} Lifology - Blogs on Life and Technology {% endblock title %}
{% block style %}
{% load static %}
<style>
    .home-up{
        margin-top: 2rem;
    }
    .home-up > main{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .left > p, .right > p{
        max-width: 960px;
        word-spacing: 4px;
        line-height: 1.7rem;
        font-size: 1.1rem;
        font-weight: 500;
        margin-top: 1rem;
    }
    .logo-h1{
        color: #00AA95;
        letter-spacing: 2px;
    }
</style>
{% endblock style %}
{% block head %}
<meta name="description" content="Read new and latest articles on life and technology, well researched and written blogs on lifology.">
<meta name="keywords" content="blogs on life and technology, blogs on life, blogs on technology, best blogs on life, best blogs on technology">
<link rel="canonical" href="https://lifology.site/"/>
{% endblock head %}
{% block body %}
{% load static %}
<div class="container">
    <section class="home-up">
        <main>
            <div class="left">
                <h1 class="logo-h1">Lifology</h1>
                <p>Lifology is a blogging website where you can read informative, interesting and precise blogs related to life and technology. You can read blogs on digital marketing, health, technology and many more on a regular basis. Every time you visit our website you will get some piece of information, which can add values to your life. In lifology, blogs are very easy to read and understandable. You will read the most high-quality content on lifology.</p>
            </div>
        </main>
        <div class="latest-blogs">
            <h2>Featured Articles</h2>
        {% for article in featured_articles|dictsortreversed:"id" %}
        {% include 'components/card.html' %}
        {% endfor %}
        </div>
        <p class="fw-bold text-center">See all the articles <a href="{% url 'articles:home' %}">here</a></p>
    </section>
</div>
{% endblock body %}
