{% extends 'base.html' %}

{% block title %} HumanLifology | Privacy Policy{% endblock title %}
{% block body %}
<div class="container">
    <h1>Privacy Policy</h1>
	<p>
		At Humanlifology , accessible from humanlifology.blogspot.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Humanlifology and how we use it.
		<br>
		If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.
		<br>
		This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Humanlifology . This policy is not applicable to any information collected offline or via channels other than this website. Our Privacy Policy was created with the help of the Free Privacy Policy Generator.
		<br>
	</p>
	<h1>Consent</h1>
    <p>By using our website you, consent to our Privacy Policy and agree to the terms and conditions</p>
    <h1>Information we Collect</h1>
    <p>Don't worry we're not <em><b>Google</b></em> or <em><b>Facebook.</b></em>
		<br>
		The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.
		<br>
		If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.
		<br>
		When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.

		<br>
    </p>
</div>
{% endblock body %}
