{% extends 'base.html' %}
{% block style %}
<style>
    p{
        padding-left: 1rem;
        color: black;
        font-weight: 500;
    }
    h1, h2, h3, h4, h5, h6{
        font-weight: 600;
    }
    table{
        margin-left: 1rem;
    }
    .fix-scroll{
        scroll-margin: calc(80px + 1rem) 0 0 0;
    }
    .all-inline *{
        display: inline;
    }
    .lsd{
        list-style: disc;
    }
    table{
        margin-left: 1rem;
    }
    .table-of-contents-container  ol { counter-reset: item }
    .table-of-contents-container li{ display: block }
    .table-of-contents-container li:before { content: counters(item, ".") " "; counter-increment: item }
    table{
        margin-bottom: 1rem;
    }
    table, tr, th, td{
        border: 2px solid black;
    }
    th{
        text-align: center;
        width: 50%;
        font-weight: bold;
        background-color: var(--bs-dark);
        color: var(--bs-light);
    }
    th:
    th > h5{
        font-weight: inherit;
        margin-bottom: 0;
    }
    td, th{
        padding: .5rem;
    }
    .main-heading{
        text-align: center;
        background-color: var(--bs-dark);
        color: var(--bs-light);
        padding-block: 1rem;
        padding-inline: 1rem;
        border-radius: 8px;
    }
    .table-of-contents-container{
        background-color: var(--bs-dark);
        max-width: 264px;
        height: max-content;
        padding: 0.75rem;
        border-radius: 8px;
        color: white !important;
        line-height: 1.7;
        position: sticky;
        top: calc(80px + 1.5rem);
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .table-of-contents-container > h3{
        text-align: center;
    }
    .table-of-contents a{
        color: white !important;
    }
    .centered-box{
        border: 2px solid black;
        width: min-content;
        margin-right: auto;
        margin-left: auto;
        padding: 0.5rem;
    }
    .table-of-contents > li{
        margin-block: 0.25rem;
    }
    .outermost-article-container{
        display: flex;
    }
    main > article{
        margin-top: 2.5rem;
        margin-left: 2rem;
    }
    .image-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block: 1.5rem;
    }
    .image-container > img{
        max-width: 400px;
    }
    #container-95p{
        width: 95%;
        max-width: none;
    }
    .sub-toc-link{
        list-style: lower-alpha;
    }
    .note{
        color: var(--bs-gray);
        border-left: 1px solid black;
        border-rai: bor;
        border-radius: 0.25rem;
        padding: 0.5rem;
        background: #ccd2d7;
        margin-bottom: 1rem;
    }
    .note-about{
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 1.2rem;
    }
    .quote{
        display: inline-block;
    }
    .quote-close, .quote-open{
        display: inline-block;
        font-size: 1.5rem;
    }
    .quote-close{
        transform: rotateZ(180deg) translateY(22%);
    }
    .quote-text{
        margin-inline: 2px;
        color: #790917;
    }
    @media (min-width: 0) and (max-width: 991px){
        .outermost-article-container{
            flex-direction: column;
        }
        .image-container > img{
            max-width: 100%;
        }
        .table-of-contents-container{
            position: static;
            margin-top: 1rem;
            margin-bottom: 0rem;
            margin-right: auto;
            margin-left: 2rem;
        }
        main > article{
            margin-left: 0;
        }
    }
    @media (min-width: 0) and (max-width: 368px){
        .table-of-contents-container{
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>
{% endblock style %}
{% block head %}
{% if blog.schema1 %}
{{blog.schema1|safe}}
{% endif %}
{% if blog.schema2 %}
{{blog.schema2|safe}}
{% endif %}
{% if blog.schema3 %}
{{blog.schema3|safe}}
{% endif %}
<meta name="description" content="{{blog.description|safe}}">
<meta name="keywords" content="{% for keyword in blog.keywords.all %}{{keyword}}, {% endfor %}">
<meta name="author" content="Suprobha Saikat">

<meta property="og:title" content="{{blog.meta_title}}">
<meta property="og:site_name" content="Lifology.site">
<meta property="og:url" content="https://www.lifology.site/article/{{blog.slug}}/">
<meta property="og:description" content="{{blog.description}}">
<meta property="og:type" content="article">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="Lifology.site">
<meta name="twitter:title" content="{{blog.meta_title}}">
<meta name="twitter:description" content="{{blog.description}}">

{% if blog.images.last.image.url %}
<meta property="og:image" content="https://lifology.site{{blog.images.last.image.url}}">
<meta name="twitter:image" content="https://lifology.site{{blog.images.last.image.url}}">
{% endif %}


{% if blog.canonical %}
<link rel="canonical" href="{{blog.canonical}}" />
{% endif %}
{% endblock head %}
{% block title %}{{blog.meta_title}}{% endblock title %}
{% block body %}
{% load static %}
<div class="container" id="container-95p">
    <h1 class="main-heading">{{blog.title}}</h1>
    {{blog.content|safe}}
</div>
<div class="comments">
{% include 'articles/comments.html' %}
</div>
<div class="popular container">
{% include 'components/featured.html' %}
</div>
{% endblock body %}
