{% extends 'base.html' %}
{% block title %}Articles | Home{% endblock title %}
{% block body %}
{% load static %}
<div class="container">
    <h1>Latest Articles</h1>
{% for article in article_list|dictsortreversed:"id" %}
<div class="card mb-3 bg-dark" style="max-width: 1368px; colo: white; padding: 1rem;">
  <div class="row g-0">
    <div class="col-md-4">
        <img src="{{article.images.last.image.url}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title" style="color: white;"><a href="{% url 'articles:detail' article.slug %}">{{article.title}}</a></h5>
        <p class="card-text" style="color: white;">{{article.description|truncatewords:50}}</p>
        <p class="card-text"><small class="text-muted">Published: {{article.publish_timestamp|date:"d-m-Y | g:i A"}}</small></p>
        <p class="card-text"><small class="text-muted">Updated: {{article.edited_timestamp|date:"d-m-Y | g:i A"}}</small></p>
      </div>
    </div>
  </div>
</div>

{% endfor %}
</div>
{% endblock body %}
