<style>
    .about-us-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
	.heading-up{
		display: flex;
		justify-content: center;
        align-items: center;
	}
    .heading-down h2{
        padding-top: 0.5rem;
        color: #00cc76;
	}
</style>
<div class="about-us-heading">
    <div class="heading-up">
        <div class="logo">{% include 'svgs/logo.svg' %}</div >
        <span class="logo-text">Lifology</span>
    </div>
    <div class="heading-down"><h2>Life & Technology</h2></div>
</div>
